<%- include('../partials/header') %>

<p>Please first ensure that the player is not in the dropdown
    <select>
        <% players.forEach(function(p) { %>
            <option><%= p.playername %></option>
        <% }) %>
    </select>
</p>    

<form action="/players" method="post" id="add-player-form">
    <label>Name:</label>
    <input type="text" name="playername">
    <label>Position:</label>
    <select name="position">
        <option value="PG">PG</option>
        <option value="SG">SG</option>
        <option value="SF">SF</option>
        <option value="PF">PF</option>
        <option value="C">C</option>
    </select>
    <input type="submit" value="Add Player">
</form>

<%- include('../partials/footer') %>